* {
    font-family: "Ubuntu", sans-serif;
}
.titolo {
    font-family: "Roboto Mono", monospace;
    color:#0a5d5a
}

.hover-element{
    background-color: aquamarine;
    transition: background-color 0.3s ease;
}

.hover-element:hover{
    background-color: lightcoral;
}
article {
    background-image: linear-gradient(green,yellow,lightblue);
    display:flex;
}

.principale {
    width: 60%;
}

.artImg {
    width:100%
}

.logo {
    width:100%
}

aside {
    width:40%;
}

.navPrincipale{
    display:flex;
    justify-content: left;
}

.navLink{
    display:flex;
    width: 60vw;
    font-size: 15px;
    padding:10
}

li{
    width: 10vw;
    padding:10px;
}

.navLink:hover{
    border-bottom: 5px solid black;
}