* {
    font-family: "Ubuntu", sans-serif;
}
.titolo {
    font-family: "Roboto Mono", monospace;
    color:#0a5d5a
}

.hover-element{
    background-color: aquamarine;
    transition: background-color 0.3s ease;
}

.hover-element:hover{
    background-color: lightcoral;
}
article {
    background-image: linear-gradient(green,yellow,lightblue);
    display:flex;
}

footer {
    background-color: rgba(48, 42, 42, 0.656);
    height:8vh;
}

.principale {
    width: 60%;
}

.artImg {
    width:100%
}

.logo {
    width:100%
}

aside {
    width:40%;
}

.navPrincipale{
    display:flex;
}

.navLink{
    display:flex;
    width:100%;
    justify-content: center;
    list-style-type:none;
    padding:0px;
    left:0px;
    margin-left:10%;
}

li{
    flex: 1;
}

.navLink:hover{
    border-bottom: 5px solid black;
}

footer{
    display:flex;
}

.pagine{
    width:100%;
}

.icona{
    display: flex;
    justify-content: end;
}

.tornaSu{
    position:fixed;
    z-index:1000;
    width:3%;
    bottom:10px;
    right:10px;
    animation: pulse 1s infinite;
}

 @keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width:600px){
    .tornaSu{
        width:7%;
    }
    
    .logo {
        width:70%
    }
    
    .navLink{
        font-size: 10px;
        min-width:fit-content;
    }
}

/* @keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

.flash {
    animation: flash 1s infinite;
} */